@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #000000;

}

::-webkit-scrollbar-thumb {
  background: rgb(154, 2, 255);
  border-radius: 3px;
}

/*----------------------------------MENU-BAR----------------------------------*/
nav a {
  color: rgb(37, 37, 37);
  text-decoration: none;
  transition: 0.8s;
}

nav a:hover {
  color: blue;
  opacity: 0.7;
}

.logo {
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
}

#decore {
  font-family: 'Barlow', sans-serif;
  color: #6817ff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #ededed;
  height: 10vh;
  position: sticky;
  top: 0;
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(20, 24, 255);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    overflow-x: hidden;
    position: fixed;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 40vh;
    background: #ededed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 300px) {
  .logo {
    font-size: 0.8rem;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/*------------------------------IMAGEM DO HEADER------------------------------*/
.hero-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.516)), url(../img/img-header.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#titulo-header {
  font-size: 2.3rem;
}

#paragrafo-header {
  font-size: 0.8rem;
}

.hero-section .hero-section-text {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}


main {
  margin: 0;
  padding: 0;
  height: 150vh;
  width: 100%;
  position: absolute;
}

/*------------------------------------Sobre------------------------------------*/

.section-b {
  background-color: #ffffff;
  margin-bottom: 5%;
}

#section-b-h1 {
  text-align: center;
  padding-top: 10px;
}

.imgtext {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 55%;
  margin-top: 30px;
}

#imgtext-img {
  width: 50%;
}

#imgtext-text {
  height: 100%;
  width: 50%;

}

#content-imgtext-img {
  background-color: #cd06ff;
  background-image: url(../img/img-sobre.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 80%;
  margin-left: 5%;
}

#content-imgtext-text {
  margin-left: -50px;
}



@media (max-width: 999px) {

  .imgtext {
    display: none;
  }

  div.card {
    width: 90%;
    height: 250px;
    background-color: #000000;
    margin: 10px 20px 0px 0px;
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
  }
  
  div.card:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }

  #card-1 {
    background-image: url(../img/img-sobre.jpg);
    margin-left: 20px;
  }

  .text-sobre {
    padding: 1.2rem;
    margin: auto;
  }
  

}

@media (min-width: 999px) {
  .card {
    display: none;
  }

  .cel {
    display: none;
  }

}

.divisa {
  height: 2px;
  background-color: #6817ff;
}

.container-about-person {
  display: flex;
  flex-wrap: wrap;
  margin-top: 45px;
}

.about-person {
  background-color: #a1a1a169;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.438);
  border-radius: 5px;
  min-height: 200px;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-top: 15px;
}

.img-person {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.p-about-person {
  margin-top: 5px;
}
/*Arrumar img-person*/

#person-1 {
  background-image: url(../img/ceo-1.jpg);
}

#person-2 {
  background-image: url(../img/ceo-2.jpg);
  background-position: center;
}
/*------------------------------Projetos------------------------------*/

.section-a {
}

#section-a-h1 {
  text-align: center;
  padding-top: 10px;
}

.container-cards-main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card-main {
  height: 350px;
  background-image: linear-gradient(72deg, #6817ff8e, #c2a2fd88);
  width: 300px;
  margin: 20px auto;
  
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.404);
  transition: all 0.8s ease;
  
}

.card-main:hover {
  transform: scale(1.03);
}


.title-card {
  padding: 5px;
  text-align: center;
}

.descricao-card {
  padding: 10px 5px 10px 5px;
  font-size: 0.7rem;
  
}

#card-img-1 {
  height: 70%;
  background-image: url(../img/1.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-img-2 {
  height: 70%;
  background-image: url(../img/2.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-img-3 {
  height: 70%;
  background-image: url(../img/3.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-img-4 {
  height: 70%;
  background-image: url(../img/4.jpeg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-img-5 {
  height: 70%;
  background-image: url(../img/5.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#card-img-6 {
  height: 70%;
  background-image: url(../img/6.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*-----------------------------------Contato-----------------------------------*/

#section-c-h1 {
  text-align: center;
  padding-top: 10px;
}

#main-div-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 15px;
  
}

.div-img {
  display: inline-block;
  width: 25%;
  text-align: center;
}

.div-linha {
  height: 2px;
  width: 100%;
}

.media {
  text-align: center;
}

