@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
  background-color: #ededed;
}

ul li a {
   text-decoration: none; 
   flex-direction: row;
}

.itens-menu {
    display: flex;
    flex-direction: row;
    margin-right: 25rem;
}

.item {
    margin: 2rem;
    text-transform: uppercase;
    transition: all 1s ease;
    padd
}

.item:hover {
    transform: scale(1.05);
    color: rgb(123, 123, 255);
}

.menu {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

.img-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.516),rgba(0, 0, 0, 0.516)), url(../img/img-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    position: relative;
    text-align: center;
}

#name {
    color: #ffffff;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: capitalize;
}

#logo {
  margin-right: 20rem;
}